*.DS_store
*.ipynb_checkpoints*
*__pycache__*
*.so
*.a
*.pdf
*.pickle


.tox
.coverage.*
coverage.json
htmlcov
*.pytest_cache


dist
build
*.egg*
*.whl
.pdf
perso/

docs/source/gallery
docs/source/api

CMakeCache.txt
CMakeFiles
install_manifest.txt
cmake_install.cmake
.coverage