MPSPlots
PyFinitDiff
FiberFusing
numpy
scipy
matplotlib
pathvalidate

numpydoc==1.6.0
sphinx>5.1.1
sphinx-gallery==0.15.0
sphinx-rtd-theme==2.0.0
numpydoc
pydata-sphinx-theme

pytest>=0.6
pytest-cov>=2.0
pytest-json-report
mypy>=0.910
flake8>=3.9
tox>=3.24
coverage
PyFiberModes